<h2 style="text-align:center; margin-top: -35px;">All Courses</h2>
<mat-grid-list [cols]="breakpoint"  (window:resize)="onResize($event)">
    <mat-grid-tile>
        <mat-card style="width:70%">
            <div class="container">
                <img mat-card-image src="https://www.verywellmind.com/thmb/jbJ5PlWXRyO6NW_TbKuYqELvpFI=/3866x2580/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-470803747-56a8d18d5f9b58b7d0f56bd0.jpg">
                <button mat-raised-button color="accent" class="btn">View</button>
            </div>
            <mat-card-content>
                <p class="myClass"><b>Course Name</b></p>
                <hr>
                <i class="fas fa-comment">155 &nbsp;&nbsp;&nbsp;</i>
                <i class="fas fa-thumbs-up">200</i>
                <a style="margin-left:50px" href="#">Not Enrolled</a>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
            <mat-card style="width:70%">
                <div class="container">
                    <img mat-card-image src="https://www.verywellmind.com/thmb/jbJ5PlWXRyO6NW_TbKuYqELvpFI=/3866x2580/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-470803747-56a8d18d5f9b58b7d0f56bd0.jpg">
                    <button mat-raised-button color="accent" class="btn">View</button>
                </div>
                <mat-card-content>
                    <p class="myClass"><b>Course Name</b></p>
                    <hr>
                    <i class="fas fa-comment">155 &nbsp;&nbsp;&nbsp;</i>
                    <i class="fas fa-thumbs-up">200</i>
                    <a style="margin-left:50px" href="#">Not Enrolled</a>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
                <mat-card style="width:70%">
                    <div class="container">
                        <img mat-card-image src="https://www.verywellmind.com/thmb/jbJ5PlWXRyO6NW_TbKuYqELvpFI=/3866x2580/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-470803747-56a8d18d5f9b58b7d0f56bd0.jpg">
                        <button mat-raised-button color="accent" class="btn">View</button>
                    </div>
                    <mat-card-content>
                        <p class="myClass"><b>Course Name</b></p>
                        <hr>
                        <i class="fas fa-comment">155 &nbsp;&nbsp;&nbsp;</i>
                        <i class="fas fa-thumbs-up">200</i>
                        <a style="margin-left:50px" href="#">Not Enrolled</a>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                    <mat-card style="width:70%">
                        <div class="container">
                            <img mat-card-image src="https://www.verywellmind.com/thmb/jbJ5PlWXRyO6NW_TbKuYqELvpFI=/3866x2580/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-470803747-56a8d18d5f9b58b7d0f56bd0.jpg">
                            <button mat-raised-button color="accent" class="btn">View</button>
                        </div>
                        <mat-card-content>
                            <p class="myClass"><b>Course Name</b></p>
                            <hr>
                            <i class="fas fa-comment">155 &nbsp;&nbsp;&nbsp;</i>
                            <i class="fas fa-thumbs-up">200</i>
                            <a style="margin-left:50px" href="#">Not Enrolled</a>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card style="width:70%">
                        <div class="container">
                            <img mat-card-image src="https://www.verywellmind.com/thmb/jbJ5PlWXRyO6NW_TbKuYqELvpFI=/3866x2580/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-470803747-56a8d18d5f9b58b7d0f56bd0.jpg">
                            <button mat-raised-button color="accent" class="btn">View</button>
                        </div>
                        <mat-card-content>
                            <p class="myClass"><b>Course Name</b></p>
                            <hr>
                            <i class="fas fa-comment">155 &nbsp;&nbsp;&nbsp;</i>
                            <i class="fas fa-thumbs-up">200</i>
                            <a style="margin-left:50px" href="#">Not Enrolled</a>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                        <mat-card style="width:70%">
                            <div class="container">
                                <img mat-card-image src="https://www.verywellmind.com/thmb/jbJ5PlWXRyO6NW_TbKuYqELvpFI=/3866x2580/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-470803747-56a8d18d5f9b58b7d0f56bd0.jpg">
                                <button mat-raised-button color="accent" class="btn">View</button>
                            </div>
                            <mat-card-content>
                                <p class="myClass"><b>Course Name</b></p>
                                <hr>
                                <i class="fas fa-comment">155 &nbsp;&nbsp;&nbsp;</i>
                                <i class="fas fa-thumbs-up">200</i>
                                <a style="margin-left:50px" href="#">Not Enrolled</a>
                            </mat-card-content>
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                            <mat-card style="width:70%">
                                <div class="container">
                                    <img mat-card-image src="https://www.verywellmind.com/thmb/jbJ5PlWXRyO6NW_TbKuYqELvpFI=/3866x2580/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-470803747-56a8d18d5f9b58b7d0f56bd0.jpg">
                                    <button mat-raised-button color="accent" class="btn">View</button>
                                </div>
                                <mat-card-content>
                                    <p class="myClass"><b>Course Name</b></p>
                                    <hr>
                                    <i class="fas fa-comment">155 &nbsp;&nbsp;&nbsp;</i>
                                    <i class="fas fa-thumbs-up">200</i>
                                    <a style="margin-left:50px" href="#">Not Enrolled</a>
                                </mat-card-content>
                            </mat-card>
                        </mat-grid-tile>
                        <mat-grid-tile>
                                <mat-card style="width:70%">
                                    <div class="container">
                                        <img mat-card-image src="https://www.verywellmind.com/thmb/jbJ5PlWXRyO6NW_TbKuYqELvpFI=/3866x2580/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-470803747-56a8d18d5f9b58b7d0f56bd0.jpg">
                                        <button mat-raised-button color="accent" class="btn">View</button>
                                    </div>
                                    <mat-card-content>
                                        <p class="myClass"><b>Course Name</b></p>
                                        <hr>
                                        <i class="fas fa-comment">155 &nbsp;&nbsp;&nbsp;</i>
                                        <i class="fas fa-thumbs-up">200</i>
                                        <a style="margin-left:50px" href="#">Not Enrolled</a>
                                    </mat-card-content>
                                </mat-card>
                            </mat-grid-tile>
</mat-grid-list>
            

       
   
