
<mat-card class="card-login">
  <mat-card-title>Add Course</mat-card-title>
  <br>
  <mat-card-content>
      <mat-form-field color="accent" appearance="outline" class="form-input">
          <mat-label>Course Name</mat-label>
          <input matInput>
      </mat-form-field>
      <br>
      
      <mat-form-field color="accent" appearance="outline" class="form-input">
        <mat-label>Course Details</mat-label>
        <input matInput>
    </mat-form-field>
      <br>
      <form [formGroup] = "form" novalidate>
        <mat-form-field appearance="outline" class="form-input" color="accent">
            <mat-label>Course Image</mat-label>
            <ngx-mat-file-input formControlName="file"></ngx-mat-file-input>
            <mat-icon matSuffix>folder</mat-icon>
      </mat-form-field>
    </form>
    <br>
      <br>
      <button mat-raised-button class="btn-login" color="primary">Add</button>
      <br>
  </mat-card-content>
</mat-card>
