<mat-card class="card-login">
    <mat-card-title>Sign In</mat-card-title>
    <br>
    <mat-card-content>
        <mat-form-field color="accent" appearance="outline" class="form-input">
            <mat-label>User Name</mat-label>
            <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field color="accent" appearance="outline" class="form-input">
            <mat-label>Password</mat-label>
            <!-- <input matInput type="password"> -->
            <input id="mysecretpassword" type="password" placeholder="Password" matInput showHideInput>
            <i matSuffix class="material-icons" showHideTrigger="mysecretpassword"
                [showHideStatus]="{ materialIcon: true, id: 'mysecretpassword' }"></i>
        </mat-form-field>
        <br>
        <br>
        <button mat-raised-button class="btn-login" color="primary">Login</button>
        <br>
    </mat-card-content>
</mat-card>